.header
    .header__up
        .header__up-logo
        %form.header__up-form 
            %input.header__up-form-input
    .header__down
.information
.contents
    %h1.pickup ピックアップカテゴリー
    .item
        %h2.item__title レディース新着アイテム
        .item__wrap
            .item__wrap-img
            .item__wrap-text
        .item__wrap
            .item__wrap-img
            .item__wrap-text
        .item__wrap
            .item__wrap-img
            .item__wrap-text
        .item__wrap
            .item__wrap-img
            .item__wrap-text
        %a.item__footer すべての商品を見る
.footer