-# ページ配色
.buy
  -# ヘッダー
  .new__header
    .new__header__wrap
      %h1
        = link_to "/" do
          =image_tag "logo001.png", class:"new__header__wrap__logo"




  -# フッター
  = render 'shared/member-new-login-footer'