.item__header {
  margin: 0 auto;
  display: block;
  text-align: center;
  height: 128px;

  &__wrap {
    display: block;
    margin: 0 auto;

    &__logo {
      margin: 40px 0 0;
      width: 268px;
      height: 72px;
    }

  }
}

.item__main {
  width: 700px;
  height: auto;
  margin: 0 auto;
  background-color: #fff;

  &-title {
    padding: 24px 40px;
    margin: 0 auto;
    border-bottom: solid 1px #eee;

    &__title {
      text-align: center;
      font-size: 22px;
    }
  }

  &-contents {
    max-width: auto;
    margin: 0 auto;
    padding: 24px 40px;
    border-bottom: solid 1px #eee;

    .drop-image-wrap {
      .maxupload {
        font-size: 10px;
      }
      
      .image__area{
        cursor: pointer;
        min-height: 150px;
        border: 2px dashed #b4bcc2;
        background: #eee;
        text-align: center;
        margin: 0;
        padding: 10px 10px;
        display: flex; 

        .image__preview_area{
          display: flex;
          flex-wrap: wrap;

          .image__preview{
            margin: 15px;

            .image-size{
              width: 100px;
              height: 100px;
              background: #fff;
              object-fit: contain;
            }
          }
        }
        #image__drop_area{
          width: 100%;
          #imagefile{
            display: none;
          }
          .image__howmany {
            display: block;
            margin-top: 40px;
            width: auto;
            height: auto;
          
            & h6 {
              font-size: 12px;
            }
          }
        }
      }
    }

    .drop-image-wrapdouble{
      display: flex;

      &-left{
        width: 30%;

        .left-title{
          font-size: 12px;
        }
      }

      &-right{
        width: 70%;
        .list-wrap-top{
          width: 100%;
          height: 50px;
          margin-bottom: 20px;
          .kakaku{
            display: flex;
            &-title{
              width: 50%;
              padding: 10px 0;
            }
            &-text{
              width: 50%;
            }
          }
        }
        .list-wrap{
          width: 100%;
          height: 50px;
          margin-bottom: 10px;
          border-top: solid 1px #eee;
          .kakaku{
            display: flex;
            &-title{
              width: 50%;
              padding: 10px 0;
            }
            &-text{
              width: 50%;
              padding: 10px 0;
              text-align: right;
            }
            #kakaku-text-10{
              width: 50%;
              padding: 10px 0;
              text-align: right;
            }
            #kakaku-text-90{
              width: 50%;
              padding: 10px 0;
              text-align: right;
            }

          }
        }
      }
    }
    &__footer{
      font-size: 12px;
      width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
    .back{
      display: block;
      width: 50%;
      height: 50px;
      margin: 0 auto;
      background: #aaa;
      color: #fff;
      font-size: 14px;
      text-align: center;
      padding: 15px;
    }
  }
}

#selectsize{
  display: none;
}
#selectbrand{
  display: none;
}
#selecthow{
  display: none;
}
.title {}

.hissu {
  height: 23px;
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.nini {
  background: #bbb;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.item_price {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.item_text{
  width: 100%;
  height: 150px;
  padding: 10px;
}

.item_form {
  min-width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 20px;
}
