.login__header {
  text-align: center;
  height: 128px;
  &__logo {
    margin: 40px 0 0;
    width: 134px;
    height: 36px;
  }
}

.login {
  width: 456px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;

  &__new {
    width: 100%;
    padding: 40px 64px;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    &__title {
      text-align: center;
      font-size: 14px;
      padding: 5px;
    }
    #login__new__link-new {
      max-width: 320px;
      display: block;
      line-height: 48px;
      font-size: 14px;
      margin: 0 auto;
      background: #0099e8;
      color: #fff;
    }
  }
  &__link {
    position: relative;
    max-width: 320px;
    margin: 0 auto;
    &__wrapper {
      position: relative;
      padding: 25px 0 0 0;
      .fa {
        font-size: 40px;
      }
      &__mail {
        text-align: center;
        position: relative;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        background: #eee;
        border: 1px solid transparent;
      }
      &__facebook {
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
        background: #385185;
        color: #fff;
        border: 1px solid transparent;
      }
      &__facebook-icon {
        position: absolute;
        top: 32px;
        left: 10px;
        color: #fff;
      }
      &__google {
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
        background: #fff;
        color: #333;
        border: 1px solid #979797;
      }
      &__google-icon {
        position: absolute;
        top: 32px;
        left: 10px;
        color: #0099e8;
      }
    }
  }
  &__form {
    padding-top: 16px;
    max-width: 320px;
    display: block;
    margin: 0 auto;

    &-nickname {
      width: 100%;
      padding-left: 10px;
      line-height: 48px;
      font-size: 14px;
      margin: 16px auto;
      border-radius: 3px;
      border: solid 1px #aaa;
    }
    &-nickname-error {
      width: 100%;
      padding-left: 10px;
      line-height: 48px;
      font-size: 14px;
      margin: 16px auto;
      border-radius: 3px;
      border: solid 1px #ea352d;
    }

    &-email {
      width: 100%;
      padding-left: 10px;
      line-height: 48px;
      font-size: 14px;
      margin: 16px auto;
      border-radius: 3px;
      border: solid 1px #aaa;
    }
    &-email-error {
      width: 100%;
      padding-left: 10px;
      line-height: 48px;
      font-size: 14px;
      margin: 16px auto;
      border-radius: 3px;
      border: solid 1px #ea352d;
    }

    &-password {
      width: 100%;
      line-height: 48px;
      padding-left: 10px;
      font-size: 14px;
      margin: 16px auto;
      border-radius: 3px;
      border: solid 1px #aaa;
    }
    &-password-error {
      width: 100%;
      padding-left: 10px;
      line-height: 48px;
      font-size: 14px;
      margin: 16px auto;
      border-radius: 3px;
      border: solid 1px #ea352d;
    }

    &-last-name {
      width: 100%;
      padding-left: 10px;
      line-height: 48px;
      font-size: 14px;
      margin: 16px auto;
      border-radius: 3px;
      border: solid 1px #aaa;
    }
    &-last-name-error {
      width: 100%;
      padding-left: 10px;
      line-height: 48px;
      font-size: 14px;
      margin: 16px auto;
      border-radius: 3px;
      border: solid 1px #ea352d;
    }

    &-first-name {
      width: 100%;
      padding-left: 10px;
      line-height: 48px;
      font-size: 14px;
      margin: 16px auto;
      border-radius: 3px;
      border: solid 1px #aaa;
    }
    &-first-name-error {
      width: 100%;
      padding-left: 10px;
      line-height: 48px;
      font-size: 14px;
      margin: 16px auto;
      border-radius: 3px;
      border: solid 1px #ea352d;
    }

    &-last-name-kana {
      width: 100%;
      padding-left: 10px;
      line-height: 48px;
      font-size: 14px;
      margin: 16px auto;
      border-radius: 3px;
      border: solid 1px #aaa;
    }
    &-last-name-kana-error {
      width: 100%;
      padding-left: 10px;
      line-height: 48px;
      font-size: 14px;
      margin: 16px auto;
      border-radius: 3px;
      border: solid 1px #ea352d;
    }

    &-first-name-kana {
      width: 100%;
      padding-left: 10px;
      line-height: 48px;
      font-size: 14px;
      margin: 16px auto;
      border-radius: 3px;
      border: solid 1px #aaa;
    }
    &-first-name-kana-error {
      width: 100%;
      padding-left: 10px;
      line-height: 48px;
      font-size: 14px;
      margin: 16px auto;
      border-radius: 3px;
      border: solid 1px #ea352d;
    }

    &-loginbtn {
      display: inline-block;
      width: 100%;
      height: 48px;
      line-height: 48px;
      font-size: 14px;
      margin: 16px auto 32px;
      border: none;
      background: red;
      color: #fff;
      cursor: pointer;
    }
    &__wrap {
      font-size: 14px;
      text-align: start;
      & a {
        color: #0099e8;
        line-height: 48px;
      }
    }
  }
}

.login__footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  &__list {
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: space-around;
    &-privacy {
      width: auto;
    }
    &-riyou {
      width: auto;
    }
    &-syoutorihiki {
      width: auto;
    }
  }
  &__logo {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
  }
  .small_title {
    font-size: 13px;
  }
}
